[submodule "ABCD/vendor/spdlog"]
	path = ABCD/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ABCD/vendor/GLFW"]
	path = ABCD/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ABCD/vendor/imgui"]
	path = ABCD/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ABCD/vendor/glm"]
	path = ABCD/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ABCD/vendor/yaml-cpp"]
	path = ABCD/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ABCD/vendor/ImGuizmo"]
	path = ABCD/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
