[submodule "ABCD/vendor/spdlog"]
	path = ABCD/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ABCD/vendor/GLFW"]
	path = ABCD/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ABCD/vendor/imgui"]
	path = ABCD/vendor/imgui
	url = https://github.com/ocornut/imgui
